body {
  font-family: "Karla", sans-serif;
}

.container {
  width: 1080px;
  margin: 40px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full {
  flex-basis: 100%;
}

.col-three-fourth {
  flex-basis: 75%;
}

.col-half {
  flex-basis: 50%;
}

.col-one-fourth {
  flex-basis: 25%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.ptop-25 {
  padding-top: 25px;
}

.line-height {
  line-height: 2rem;
}

.text-center {
  text-align: center;
}

.sub-heading {
  font-size: 1.07rem;
}

.padding-column {
  padding: 35px 75px 35px 30px;
}

.header-spacing {
  width: 65%;
  margin: auto;
}

.heading-style {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 0;
}

.img-position {
  display: flex;
  align-items: flex-start;
  padding-right: 7px;
}

.btn-style {
  font-family: "Karla", sans-serif;
  font-size: medium;
  font-weight: bold;
  background-color: white;
  color: #d14c45;
  border: 2px solid #d14c45;
  padding: 10px 46px;
}
