body {
  font-family: "Karla", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 1080px;
  margin: 50px auto;
}

.col-full {
  flex-basis: 100%;
}

.col-three-fourth {
  flex-wrap: wrap;
  flex-basis: 75%;
}

.col-half {
  flex-basis: 50%;
}

.col-one-fourth {
  flex-basis: 25%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.padding {
  padding: 40px 65px;
}

.heading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 0;
}

.sub-heading {
  font-size: 1.1rem;
}

.text-styles {
  font-size: 0.9rem;
  line-height: 2rem;
}

.margin-left {
  margin-left: 50px;
  margin-right: 50px;
}

.header-spacing {
  width: 57%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.btn-styles {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  background-color: white;
  color: #d14c45;
  border: 2px solid #d14c45;
  padding: 10px 45px;
}
