body {
  font-family: "Karla", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.col-full {
  flex-basis: 100%;
}

.col-three-fourth {
  flex-wrap: wrap;
  flex-basis: 75%;
}

.col-half {
  flex-wrap: wrap;
  flex-basis: 50%;
}

.col-one-fourth {
  flex-wrap: wrap;
  flex-basis: 25%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.padding {
  padding: 30px 100px 100px 0;
}

.heading {
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

.sub-heading {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
