body{
  font-family;
}

.btn-style{
  background-color: #294464;
  color:white;
  border-radius: 5px;
  border-style: none;
}

.contact-us-padding{
  padding: 8px 12px;
}

.get-started-padding{
  padding: 20px 70px;
  font-size: 1.6rem;
  height: 80px;
}

.font-white{
  color: white;
}

.subhead-font-size {
font-size: 2.5rem;
margin-bottom: 0;
}

.text-font-size{
  font-size: 1.25rem;
}

.subtext-font-size {
  font-size: 1.1rem;
}

.text-gray{
  color: #6E6E6E
}

.nav-link-gray{
  color: #A0A0A0;
}

.bg-light-gray{
  background-color: #FAFAFA;
}

.bg-dark-gray{
  background-color:#525351;
}

.font-avenir{
  font-family: 'Avenir', sans-serif;
}

.font-tiempos{
  font-family: "Tiempos Headline", serif;
}

.container {
  width: 100%;
  display: flex;
}

.row {
  display: flex;
  flex-basis: 77%;
}

.col-full {
  /* display: flex; */
  flex-basis: 100%;
}

.col-half {
  display: flex;
  flex-basis: 50%;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center{
align-items: center;
}

.margin-center{
  margin-top:auto;
  margin-bottom:auto;
}

.margin-15{
  margin: 15px;
}
