
/* Styles */
.btn-style {
  background-color: #294464;
  color: white;
  border-radius: 4px;
  border-style: none;
  height: 40px;
}

.contact-us-padding {
  padding: 3px 6px;
}

.get-started-padding {
  padding: 5px 35px;
  font-size: 1rem;
}

.font-white {
  color: white;
}

.subhead-font {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 0;
}

.small-font {
  font-size: 0.7rem;
}

.medium-font {
  font-size: 0.9rem;
}

.text-gray {
  color: #6e6e6e;
}

.nav-link-gray {
  color: #a0a0a0;
}

.bg-light-gray {
  background-color: #fafafa;
}

.bg-dark-gray {
  background-color: #525351;
}

.font-avenir {
  font-family: 'Avenir', sans-serif;
}

.font-tiempos {
  font-family: "Tiempos Headline", serif;
}


/* Container */
.container {
  width: 975px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

/* Utility */

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-spacearound {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.margin-center {
  margin-top: auto;
  margin-bottom: auto;

  /* margin-left: auto;
  margin-right: auto; */
}

.pad-side {
  padding: 0 3rem;
}

footer a {
  font-size: 0.8rem;
  text-decoration: none;
  padding-right: 20px;
}

section a {
  text-decoration: none;
  line-height: 2rem;
}

.xl-content-spacing {
  padding: 4.5rem 0 5rem 0;
}

.lg-content-spacing {
  padding: 3rem 0;
}

.med-content-spacing {
  padding: 2.3rem 0;
}

.sm-content-spacing {
  padding: 1.2rem 0;
}

.logo-resize {
  width: 25%;
}

.hero-image {
  width: 100%;
  position: relative;
}

address {
  font-style: normal;
  line-height: 1.2rem;
}

h2 {
  margin: 0;
}
